/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a background color and center the content */
body {
  background: #293241;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Style the container */
.login-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 25%;
  text-align: center;
}
/* Logo */
.logo {
  display: flex;
  align-items: center;
  margin: 30px;
  margin-top: -20px;
   color: #293241;
}
.logo i{
  font-size: 50px;
 
}
.logo h2{
  margin-left: 5px;
  font-size: 30px;
}
/* Style the header */
.wrapper h1 {
  font-size: 30px;
  margin-bottom: 50px;
  color: #293241;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Style form groups */
 .form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

/* Style the login button */
button[type="login"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button[type="login"]:hover {
  background-color: #0056b3;
}
